<% if link %>
  <li class="breadcrumb-item d-flex align-items-center">
    <%= link_to label, link, class: 'text-truncate' %>
  </li>
<% elsif active %>
  <li class="breadcrumb-item active d-flex align-items-center text-dark">
    <div class="fs-3 text-truncate">
      <%= label %>
    </div>
  </li>
<% else %>
  <li class="breadcrumb-item d-flex align-items-center">
    <%= label %>
  </li>
<% end %>
