<% flash.each do |key, value| %>
  <div class="container text-center">
    <% if key == 'alert' || key == 'error' %>
      <div class="alert alert-dismissible collapse show alert-danger">
        <%= raw value %>
        <button class="btn-close">type='button' data-bs-dismiss='alert'</button>
      </div>
    <% elsif key == 'warning' %>
      <div class="alert alert-dismissible collapse show alert-warning">
        <%= raw value %>
        <button class="btn-close">type='button' data-bs-dismiss='alert'</button>
      </div>
    <% else %>
      <div class="alert alert-dismissible collapse show alert-info">
        <%= raw value %>
        <button class="btn-close">type='button' data-bs-dismiss='alert'</button>
      </div>
    <% end %>
  </div>
<% end %>
