<%% content_for(:page_title) { @<%= @resource_name.element %>.display_name } %>
<div class="border rounded bg-white shadow-sm mb-3 overflow-hidden">
  <table class="table mb-0">
    <colgroup>
      <col class="col-1" />
      <col />
    </colgroup>
    <tbody>
      <%% resource_detail_keys.map(&:to_s).each do |key| %>
        <%% label = key.split('.').last.titleize %>
        <%% label = "ID" if key == "id" %>
        <tr>
          <th class="text-nowrap"><%%= label %>:</th>
          <td><%%= resource_attribute_value(@<%= @resource_name.element %>, key) %></td>
        </tr>
      <%% end %>
    </tbody>
  </table>
</div>
