- content_for(:page_title) do
  - if ['new', 'create'].include? action_name
    = "New #{resource_model.model_name.singular.titleize} | #{resource_model.model_name.plural.titleize}"
  - elsif ['edit', 'update'].include? action_name
    = "Edit #{@resource.display_name} | #{resource_model.model_name.plural.titleize}"

= resource_form_for([@resource]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .container
    .card.shadow-sm.mb-3
      .card-body
        - resource_form_fields.each do |field|
          = f.input field
      .card-footer.d-flex.justify-content-center
        .mx-1= link_to 'Cancel', [@resource], class: 'btn btn-secondary'
        .mx-1= f.button
