.vh-100.d-flex.flex-column
  .flex-grow-1.mx-2
    ul.nav.nav-pills.flex-column.py-3.border-top.border-secondary
      - nav_items&.each do |nav_item|
        - if nav_item.nil?
          li
            hr
        - else
          - active = nav_item.controller.name == controller.class.name
          li.nav-item.text-nowrap
            = link_to nav_item.path, class: "nav-link text-white #{'active' if active}" do
              - if nav_item.icon.present?
                i.me-2.bi class=("bi-#{nav_item.icon}#{active ? '-fill' : ''}")
              = nav_item.label
